@mykaarma:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=1f4989ca07efde76600f289f9ea72b6e0a225343
# This (1f4989ca07efde76600f289f9ea72b6e0a225343) authToken belongs to Github Account of
# prince.gupta@mykaarma.com. Change if you need too.